article:nth-of-type(4){
    box-shadow: 0 10px 50px rgba(68, 71, 124, 0.15);
    border-radius: 7px;
    margin: 70px 0 42px 0;
    .contacts{
        background-color: $blueLight;
        width: 100%;
        padding: 110px 20px 110px 20px;
        box-sizing: border-box;
        @include flexColumn;
        .contact-single {
            @include flexRow;
            align-items: center;
            margin-bottom: 40px;
            .contact-photo {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                margin-right: 20px;
                background-position: center;
                background-size: cover;
            }
            .contact-info {
                @include flexColumn;
                align-items: flex-start;
                line-height: 29px;
                span:nth-of-type(1){
                    font-family: "QuicksandBold";
                    font-size: 20px;
                    color: $blueDark;
                }
                span:nth-of-type(2), span:nth-of-type(3){
                    font-family: "MontserratMedium";
                    font-size: 14px;
                    color: $grayBlueLight;
                }
            }
        }
        .contact-single:nth-of-type(2) .contact-photo{
            background-image: url("assets/stefan-stefancik-1203044-unsplash (1).png");
            background-position-y: -5px;
        }
        .contact-single:nth-of-type(3) .contact-photo{
            background-image: url("assets/dan-1147269-unsplash.png");
        }
        .contact-single:nth-of-type(4) .contact-photo{
            background-image: url("assets/natashia-shukla-1411995-unsplash.png");
        }
    }
    .form-wrap {
        padding: 50px 20px 32px 20px;
        overflow:hidden;
        h1 {
            font-family: "QuicksandBold";
            font-size: 42px;
            color: $blueDark;
            margin-bottom: 40px;
            max-width: 497px;
        }
        form {
            fieldset {
                border: none;
                .error {
                    border-color: #E36464;
                }
                .error-message {
                    font-family: "MontserratMedium";
                    font-size: 14px;
                    color: #E36464;
                    margin-bottom: -21px;
                    margin-top: 6px;
                    padding-left: 4px;
                }
                #bouncer-error_terms_on {
                    padding-left: 54px;
                }
                input {
                    outline: none;
                    border: none;
                    border-bottom: 1px solid $gray;
                    font-family: 'MontserratMedium';
                    font-size: 16px;
                    color: $grayBlueLight;
                    margin-top: 21px;
                    padding: 4px;
                    width: 80%;
                }
                #checkbox-1 {
                    display: none;
                }
                #checkbox-1:checked + label>.checkbox::before {
                    height: 18px;
                    width: 18px;
                    bottom: 5px;
                    left: 5px;
                    transition: 0.2s ease-in-out;
                }
                label {
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    margin-top: 30px;
                    padding-left: 4px;
                    .checkbox {
                        width: 28px;
                        height: 28px;
                        border: 1px solid $blueDark;
                        flex-shrink:0;
                        margin-right: 19px;
                        position: relative;
                        svg {
                            opacity: 1;
                            fill: $grayBlue;
                            position: relative;
                            right: -1px;
                        }
                        &::before {
                            content: '';
                            height: 0px;
                            width: 0px;
                            bottom: 14px;
                            left: 14px;
                            background-color: $checkmarkBlue;
                            position: absolute;
                        }
                    }
                }
                span {
                    font-family: 'MontserratMedium';
                    font-size: 14px;
                    color: $grayBlueLight;
                    max-width: 508px;
                    a {
                        color: $grayBlueLight;
                    }
                }
                #checkbox-1:checked ~ .button-wrap::after {
                    width: 0;
                }
                input[type=submit] {
                    width: 200px;
                    height: 60px;
                    border-radius: 30px;
                    background-color: $grayBlue;
                    padding: 18px 100px 18px 46px;
                    box-sizing: border-box;
                    align-self: center;
                    @include flexRow;
                    margin: 32px auto;
                    color: $backgroundWhite;
                    font-size: 20px;
                    cursor: pointer;
                }
                .button-wrap {
                    position: relative;
                    width: 200px;
                    margin: 0 auto;
                    &::after {
                        position: absolute;
                        content: '';
                        height: 110%;
                        width: 110%;
                        top: -2px;
                        right: -2px;
                        opacity:0.8;
                        background-color: $backgroundWhite;
                        transition: 0.15s ease-in-out;
                        transition-delay: 0.1s;
                        border-radius: 30px;
                    }
                    svg {
                        position: absolute;
                        right: calc(50% - 55px);
                        top:18px;
                        pointer-events: none;
                    }  
                }
            }
        }
    }
}