footer {
    background-color: $grayBlue;
    height: 180px;
    padding: 32px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .apie-statytoja, .saugumas {
        display: flex;
        flex-direction: column;
        align-items: left;
    }
    .apie-statytoja {
        margin-right: 40px;
    }
    .about {
        @include flexRowBetween;
        max-width: 550px;
        width: 100%;
    }
    h2, p {
        margin-bottom: 13px;
        color: $backgroundWhite;
    }
    h2 {
        font-family: 'QuicksandBold';
        font-size: 22px;
    }
    p {
        font-family: 'MontserratMedium';
        font-size: 14px;
    }
    .social {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-top: 20px;
        svg:first-of-type{
            margin-right: 42px;
        }
    }
}