@media (min-width: 375px) {
    article:nth-of-type(2) {
        .table-wrap {
            table {
                tr {
                    td:nth-of-type(2), th:nth-of-type(2) {
                        display: table-cell;
                    }
                }
            }
        }
        
    }
}