@media (min-width: 375px) {
    article:nth-of-type(2) {
        .table-wrap {
            table {
                tr {
                    td:nth-of-type(2), th:nth-of-type(2) {
                        display: table-cell;
                    }
                }
            }
        }
        
    }
}
@media (min-width: 425px) {
    article:nth-of-type(1){
        h1 {
            margin-left: 10vw;
        }
    }
    article:nth-of-type(2) {
        .table-wrap {
            table {
                th {
                    padding-right: calc(100% / 10 - 68px);
                }
                tr {
                    td:first-of-type, th:first-of-type {
                        padding-left: 20px;
                    }
                    td:last-of-type, th:last-of-type {
                        padding-right: 20px;
                    }
                    td:nth-of-type(5){
                        padding-right: 20px;
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    header {
        .burger {
            display: none;
        }
        .nav-wrap{
            padding: 21px 30px;
        }
        .menu-wrap {
            position: static;
            transform: none;
            height: 100%;
            width: 430px;
            display: flex;
            align-items: center;
            transition: none;
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 0px;
                width: 100%;
                height: 100%;
                li {
                    padding: 0;
                    border-left: none;
                    font-size: 18px;
                    height: calc(100% - 2px);
                    @include flexCenter;
                    transition: 0.2s ease-in-out;
                    border-bottom: 2px solid $blueDark;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        height: 4px;
                        background-color: $backgroundWhite;
                        width: 50%;
                        left: 0;
                        bottom: -3px;
                        transition: 0.3s ease-in-out;
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        height: 4px;
                        background-color: $backgroundWhite;
                        width: 51%;
                        left: 50%;
                        bottom: -3px;
                        transition: 0.3s ease-in-out;
                    } 
                }
                li:hover{
                    border-left: none;
                    padding-left: 0;
                    height: calc(100% - 2px);
                    &::after {
                        transform:translateX(100%);
                    }
                    &::before {
                        transform: translateX(-100%);
                    }
                    a {
                        transform: none;
                    }
                }
            }
        }
    }
    article:nth-of-type(1) {
        position: relative;
        .item-wrap {
            width: 348px;
            height: 608px;
            .image {
                height: 349px;
            }
            .text {
                h2 {
                    font-size: 26px;
                }
                p {
                    font-size: 18px;
                }
            }
            .read-more-arrow {
                bottom:26px;
            }
        }
    }
    article:nth-of-type(2) {
        .table-wrap {
            max-width: 1268px;
            width: 95%;
            table {
                width: 100%;
                td, th {
                    font-size: 20px;
                }
                tr {
                    td:nth-of-type(6), th:nth-of-type(6) {
                        display: table-cell;
                    }
                }
            }
            .select-wrap {
                font-size: 20px;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-evenly;
                .custom-select:nth-of-type(4) {
                    display: block;
                }
                .select-selected:after {
                    right: 30px;
                    top: 29px;
                    border-top:4px solid $backgroundWhite;
                    border-right: 4px solid $backgroundWhite;
                }
                .select-items div,.select-selected {
                    padding: 18px 40px 18px 20px;
                }
            }
        }
    }
    article:nth-of-type(3) {
        h1 {
            margin-left: 93px;
        }
        .news-wrap {
            .news-item {
                max-height: 380px;
                max-width: 380px;
                height: 40vw;
                width: 40vw;
                margin: 12px 10px;
            }
        }
    }
    article:nth-of-type(4) {
        @include flexRow;
        .contacts {
            width: 50%;
            position: relative;
            overflow:hidden;
            box-sizing: border-box;
            align-items: flex-start;
            .contact-single {
                overflow:visible;
                z-index:1;
                .contact-photo {
                    max-width: 130px;
                    max-height: 130px;
                    // height: 130px;
                    // width: 130px;
                }
                .contact-info {
                    span:nth-of-type(1) {
                        font-size: 26px;
                    }
                    span:nth-of-type(2), span:nth-of-type(3) {
                        font-size: 18px;
                    }
                }
            }
            .background-triangle {
                width: 0;
                height: 0;
                border-bottom: 780px solid $backgroundWhite;
                border-left: 100px solid transparent;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        .form-wrap {
            width: 50%;
            padding-left: 43px;
            form {
                fieldset {
                    span {
                        font-size: 18px;
                    }
                    input {
                        font-size: 20px;
                    }
                    .button-wrap {
                        margin-left: 0;
                    }
                }
            }
            h1 {
                font-size: 50px;
            }
            input {
                width: 80%;
            }
        }
    }
    footer {
        flex-direction: row;
        padding: 34px 40px 40px 40px;
        .about {
            align-items: flex-start;
            h2 {
                font-size: 26px;
            }
            p {
                font-size: 18px;
            }
        }
        .social {
            align-items: flex-end;
            margin: 0;
        }
    }
}
@media (min-width: 1024px) {
    header {
        .nav-wrap {
            padding: 21px 50px;
        }
    }
    article:nth-of-type(2) {
        .table-wrap {
            table {
                tr {
                    td:first-of-type, th:first-of-type {
                        padding-left: 45px;
                    }
                    td:last-of-type, th:last-of-type {
                        padding-right: 45px;
                    }
                }
            }
            .select-wrap {
                flex-wrap: nowrap;
                .custom-select {
                    margin-bottom: 20px;
                }
            }
        }
    }
    article:nth-of-type(4){
        .contacts {
            padding-left: 74px;
        }
    }
    footer {
        padding:32px 85px 40px 100px;
    }
}
@media (min-width: 1440px) {
    article:nth-of-type(1) {
        h1 {
            margin-left: 92px;
        }
    }
}